#video{
    .tru{
        .tri{
            margin: 0 0 2pc 0;
            font-size: 17px;
            font-weight:700;
        }
    }
    .video{
        display: flex;
        align-items:center ;
        gap: 3pc;
        overflow-y: scroll;
      
      
    }
}
